In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import calendar

In [2]:
df = pd.read_csv('analysis_table.csv')
df.head()

,order_id,customer_id,order_status,order_purchase_time,order_approved,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,price,product_category_name,order_item_id,freight_value,reviews_score
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,13/09/2017 08:59,13/09/2017 09:45,19/09/2017 18:34,20/09/2017 23:43,29/09/2017 00:00,58.90,cool_stuff,1.0,13.29,5.0
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,26/04/2017 10:53,26/04/2017 11:05,04/05/2017 14:35,12/05/2017 16:04,15/05/2017 00:00,239.90,pet_shop,1.0,19.93,4.0
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,14/01/2018 14:33,14/01/2018 14:48,16/01/2018 12:36,22/01/2018 13:19,05/02/2018 00:00,199.00,moveis_decoracao,1.0,17.87,5.0
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,delivered,08/08/2018 10:00,08/08/2018 10:10,10/08/2018 13:28,14/08/2018 13:32,20/08/2018 00:00,12.99,perfumaria,1.0,12.79,4.0
4,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,15/05/2017 21:42,17/05/2017 03:55,17/05/2017 11:05,22/05/2017 13:44,06/06/2017 00:00,21.90,utilidades_domesticas,1.0,12.69,4.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114092 entries, 0 to 114091
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       114092 non-null  object
 1   customer_id                    114092 non-null  object
 2   order_status                   114092 non-null  object
 3   order_purchase_time            114092 non-null  object
 4   order_approved                 113930 non-null  object
 5   order_delivered_carrier_date   112112 non-null  object
 6   order_delivered_customer_date  110839 non-null  object
 7   order_estimated_delivery_date  114092 non-null  object
 8   price                          113314 non-null  float64
 9   product_category_name          111702 non-null  object
 10  order_item_id                  113314 non-null  float64
 11  freight_value                  113314 non-null  float64
 12  reviews_score                  113131 non-null  float64
dtypes: float64(4), object(9)
memory usage: 11.3+ MB

In [ ]:
# changing data type into datetime
date_cols = ['order_purchase_time','order_approved', 'order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date']
df[date_cols] = df[date_cols].apply(pd.to_datetime)

In [5]:
# Creating new column deliver time which calculates the time taken to deliver to customer from when the order was purchased
df['deliver_time'] = df['order_delivered_customer_date'] - df['order_purchase_time']
df['approval_time'] = df['order_approved'] - df['order_purchase_time']
df['waiting_time'] = df['order_delivered_carrier_date'] - df['order_approved']
df['shipping_time'] = df['order_delivered_customer_date'] - df['order_delivered_carrier_date']
df['estimated_time'] = df['order_estimated_delivery_date'] - df['order_purchase_time']
df['deliver_estimate_time_gap'] = df['deliver_time'] - df['estimated_time']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114092 entries, 0 to 114091
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       114092 non-null  object
 1   customer_id                    114092 non-null  object
 2   order_status                   114092 non-null  object
 3   order_purchase_time            114092 non-null  datetime64[ns]
 4   order_approved                 113930 non-null  datetime64[ns]
 5   order_delivered_carrier_date   112112 non-null  datetime64[ns]
 6   order_delivered_customer_date  110839 non-null  datetime64[ns]
 7   order_estimated_delivery_date  114092 non-null  datetime64[ns]
 8   price                          113314 non-null  float64
 9   product_category_name          111702 non-null  object
 10  order_item_id                  113314 non-null  float64
 11  freight_value                  113314 non-null  float64
 12  reviews_score                  113131 non-null  float64
 13  deliver_time                   110839 non-null  timedelta64[ns]
 14  approval_time                  113930 non-null  timedelta64[ns]
 15  waiting_time                   112097 non-null  timedelta64[ns]
 16  shipping_time                  110838 non-null  timedelta64[ns]
 17  estimated_time                 114092 non-null  timedelta64[ns]
 18  deliver_estimate_time_gap      110839 non-null  timedelta64[ns]
dtypes: datetime64[ns](5), float64(4), object(4), timedelta64[ns](6)
memory usage: 16.5+ MB

In [7]:
df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_time                 0
order_approved                    162
order_delivered_carrier_date     1980
order_delivered_customer_date    3253
order_estimated_delivery_date       0
price                             778
product_category_name            2390
order_item_id                     778
freight_value                     778
reviews_score                     961
deliver_time                     3253
approval_time                     162
waiting_time                     1995
shipping_time                    3254
estimated_time                      0
deliver_estimate_time_gap        3253
dtype: int64

In [ ]:
# replacing all empty product names with 'Unknown'
df['product_category_name'].fillna('Unknown', inplace=True)

In [25]:
df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_time                 0
order_approved                      0
order_delivered_carrier_date        1
order_delivered_customer_date       0
order_estimated_delivery_date       0
price                               0
product_category_name               0
order_item_id                       0
freight_value                       0
reviews_score                     827
deliver_time                        0
approval_time                      15
waiting_time                       16
shipping_time                       1
estimated_time                      0
deliver_estimate_time_gap           0
product_category_name_english    1545
dtype: int64

In [26]:
# all price, freight_value and order_item_id share same rows with missing values
# on top of that all these rows also have order_delivered_customer_date missing as the number decreased matches up
test = df.dropna(subset='price')
test.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_time                 0
order_approved                      0
order_delivered_carrier_date        1
order_delivered_customer_date       0
order_estimated_delivery_date       0
price                               0
product_category_name               0
order_item_id                       0
freight_value                       0
reviews_score                     827
deliver_time                        0
approval_time                      15
waiting_time                       16
shipping_time                       1
estimated_time                      0
deliver_estimate_time_gap           0
product_category_name_english    1545
dtype: int64

In [27]:
# I will remove all rows that have missing values from price, freight_values and order_item_id
# all these rows have been shown to also have missing order_delivered_customer_date, indicating these orders may not have been delivered
# It will be stored under missing values and data will be interpreted seperately
missing_values = df[df.price.isna()]
missing_values.reviews_score.describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: reviews_score, dtype: float64

In [28]:
# removing the missing_values as mentioned above
df.dropna(subset='price', inplace=True)

In [29]:
df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_time                 0
order_approved                      0
order_delivered_carrier_date        1
order_delivered_customer_date       0
order_estimated_delivery_date       0
price                               0
product_category_name               0
order_item_id                       0
freight_value                       0
reviews_score                     827
deliver_time                        0
approval_time                      15
waiting_time                       16
shipping_time                       1
estimated_time                      0
deliver_estimate_time_gap           0
product_category_name_english    1545
dtype: int64

In [30]:
# checking for any orders with no customer delivery date.
df[df["order_delivered_customer_date"].isnull()]["order_status"].value_counts()

Series([], Name: count, dtype: int64)

In [31]:
df.order_status.value_counts()

order_status
delivered    110832
canceled          7
Name: count, dtype: int64

In [32]:
# the data shows that the most of the null values from order_delivered_customer_date are still in the process of delivering when the data was taken
# I will remove them from the data
df.dropna(subset='order_delivered_customer_date', inplace=True)

In [33]:
df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_time                 0
order_approved                      0
order_delivered_carrier_date        1
order_delivered_customer_date       0
order_estimated_delivery_date       0
price                               0
product_category_name               0
order_item_id                       0
freight_value                       0
reviews_score                     827
deliver_time                        0
approval_time                      15
waiting_time                       16
shipping_time                       1
estimated_time                      0
deliver_estimate_time_gap           0
product_category_name_english    1545
dtype: int64

In [34]:
# null values of order approved time are being filled with order purchase time of the same row
df['order_approved'] = df['order_approved'].fillna(df['order_purchase_time'])

In [35]:
# translations of portugese product categories to english
translation_map = {
    "agro_industria_e_comercio": "Agribusiness & Commerce",
    "alimentos": "Food",
    "alimentos_bebidas": "Food & Beverages",
    "artes": "Arts",
    "artes_e_artesanato": "Arts & Crafts",
    "artigos_de_festas": "Party Supplies",
    "artigos_de_natal": "Christmas Items",
    "audio": "Audio",
    "automotivo": "Automotive",
    "bebes": "Baby",
    "bebidas": "Beverages",
    "beleza_saude": "Beauty & Health",
    "brinquedos": "Toys",
    "cama_mesa_banho": "Bed, Bath & Table",
    "casa_conforto": "Home Comfort",
    "casa_conforto_2": "Home Comfort (Other)",
    "casa_construcao": "Home Construction",
    "cds_dvds_musicais": "Music CDs & DVDs",
    "cine_foto": "Cameras & Photography",
    "climatizacao": "Climate Control (AC, Heaters)",
    "consoles_games": "Consoles & Video Games",
    "construcao_ferramentas_construcao": "Construction Tools",
    "construcao_ferramentas_ferramentas": "Hand Tools",
    "construcao_ferramentas_iluminacao": "Lighting (Construction)",
    "construcao_ferramentas_jardim": "Garden Tools",
    "construcao_ferramentas_seguranca": "Safety Equipment",
    "cool_stuff": "Cool Gadgets",
    "dvds_blu_ray": "DVDs & Blu-rays",
    "eletrodomesticos": "Home Appliances",
    "eletrodomesticos_2": "Home Appliances (Other)",
    "eletronicos": "Electronics",
    "eletroportateis": "Small Appliances",
    "esporte_lazer": "Sports & Leisure",
    "fashion_bolsas_e_acessorios": "Fashion: Bags & Accessories",
    "fashion_calcados": "Fashion: Shoes",
    "fashion_esporte": "Fashion: Sportswear",
    "fashion_roupa_feminina": "Fashion: Women's Clothing",
    "fashion_roupa_infanto_juvenil": "Fashion: Kids & Teens Clothing",
    "fashion_roupa_masculina": "Fashion: Men's Clothing",
    "fashion_underwear_e_moda_praia": "Fashion: Underwear & Swimwear",
    "ferramentas_jardim": "Garden Tools",
    "flores": "Flowers",
    "fraldas_higiene": "Diapers & Hygiene",
    "industria_comercio_e_negocios": "Industry, Commerce & Business",
    "informatica_acessorios": "Computer & Accessories",
    "instrumentos_musicais": "Musical Instruments",
    "la_cuisine": "Kitchenware",
    "livros_importados": "Imported Books",
    "livros_interesse_geral": "General Interest Books",
    "livros_tecnicos": "Technical Books",
    "malas_acessorios": "Luggage & Accessories",
    "market_place": "Marketplace",
    "moveis_colchao_e_estofado": "Mattresses & Upholstery",
    "moveis_cozinha_area_de_servico_jantar_e_jardim": "Kitchen, Dining & Garden Furniture",
    "moveis_decoracao": "Home Décor & Furniture",
    "moveis_escritorio": "Office Furniture",
    "moveis_quarto": "Bedroom Furniture",
    "moveis_sala": "Living Room Furniture",
    "musica": "Music",
    "papelaria": "Stationery",
    "pc_gamer": "Gaming PCs",
    "pcs": "Desktop PCs",
    "perfumaria": "Perfumes",
    "pet_shop": "Pet Shop",
    "portateis_casa_forno_e_cafe": "Small Kitchen Appliances (Oven & Coffee)",
    "portateis_cozinha_e_preparadores_de_alimentos": "Small Kitchen Appliances (Food Prep)",
    "relogios_presentes": "Watches & Gifts",
    "seguros_e_servicos": "Insurance & Services",
    "sinalizacao_e_seguranca": "Signage & Safety",
    "tablets_impressao_imagem": "Tablets, Printers & Imaging",
    "telefonia": "Mobile Phones",
    "telefonia_fixa": "Landline Phones",
    "utilidades_domesticas": "Household Items",
    "Unknown":"Unknown"
}

# Apply translation
df['product_category_name_english'] = df['product_category_name'].map(translation_map)

In [36]:
# exporting cleaned data to be used for analysis
df.to_csv('analysis_table_edit.csv', index=False)